services:
  backend:
    build: ./backend 
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
  frontend:
    build: ./angular-frontend
    ports:
      - "4200:4200"
    volumes:
      - ./angular-frontend:/app
      - /app/node_modules
    depends_on:
      - backend
